extends layout

block header
  div.jumbotron
    h1 UX Patterns for Maps
    section.about
        p
            !=contents['about.md'].html  
   

block content
  include author
  - var mylist = _.chain(env.helpers.getArticles(contents)).sortBy(function(item) {
  -     return item.title
  - }).value()
  - var counter = 0
  - _.each(mylist, function(value, key) {
        - if (counter%3==0) {
         | <div class="row">
        - }
            div.col-sm-3.col-md-4
              div.thumbnail
                div.caption
                  h3 Thumbnail label
                    p
                        a(href=value.url)=value.title
        - if (counter%3==2) {
         | </div>
        - }

  - counter++
  - })
  

