
mixin problems(problemKeys)
    if problemKeys
      each item in problemKeys
        span.badge=item
        | &nbsp;
        
mixin tags(keys)
    if keys
      each item in keys
        span.badge=item
        | &nbsp;

      
      
